# Versions
ETCD_VERSION=v3.5.9
NGINX_VERSION=1.25-alpine
PROMETHEUS_VERSION=v2.51.0
GRAFANA_VERSION=10.4.0
CADVISOR_VERSION=v0.49.1
PGADMIN_VERSION=8.5
PYTHON_VERSION=3.12-slim
SPILO_VERSION=3.3-p1
POSTGRES_EXPORTER_VERSION=v0.15.0

# PostgreSQL / Patroni
POSTGRES_DB=meteo
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme

PATRONI_SCOPE=meteo-cluster
PATRONI_REPLICATION_USER=replicator
PATRONI_REPLICATION_PASSWORD=changeme
PATRONI_SUPERUSER_PASSWORD=changeme

# postgres_exporter
DATA_SOURCE_NAME=postgresql://postgres:changeme@postgres1:5432/meteo?sslmode=disable

# ETCD
ETCD_INITIAL_CLUSTER_TOKEN=meteo-etcd-token

# Grafana
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=changeme

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=changeme